// Responsive
$smallScr: 550px;
$mediumScr: 800px;
$mediumTwoScr: 1000px;
$largeScr: 1600px;

$header-height-def: 50px;
$header-height-large: 62px;


@mixin responsive($type) {
  @if $type == 'smallScr' {
    @media only screen and (min-width: $smallScr) {
      @content;
    }
  } @else if $type == 'mediumScr' {
    @media only screen and (min-width: $mediumScr) {
      @content;
    }
  } @else if $type == 'mediumTwoScr' {
    @media only screen and (min-width: $mediumTwoScr) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $largeScr) {
      @content;
    }     
  } 
}